<header>
    <img src="../../../assets/Cabecera.jpg" alt="" class="img-cabecera">
</header>

<div class="formulario">
    <form method="post">
        <img src="../../../assets/Logo.jpg" alt="" class="img-logo">
        <div class="username">
            <input type="text" id="username" name="username" placeholder="Usuario o ID">

        </div>

        <div class="contraseña">
            <input type="password" placeholder="Tu Contraseña" required>


        </div>

        <button class="btn btn-primary button" type="submit">Ingresar</button>

    </form>
</div>